*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    display: block;
    color: inherit;
}
li{
    list-style-type: none;
}
.container1{
    height: 1000px;

    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./1611741795_Re.jpg)no-repeat;
    background-size: cover;

    color: white;
    margin-top: -50px;
    padding-top: 100px;
}
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.active{
    background: #3d3d3d;
    opacity: 0.5;
}
.logo{
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-menu{
    width: 400px;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
.main-menu li{
    font-size: 25px;
}
.main-menu li a{
    transition: 0.3s;
    font-weight: bold;
}
.main-menu li a:hover{
    color: #ff6a6a;
}
.main-text{
    width: 800px;
    height: 400px;

    margin: 0 auto;
    margin-top: 150px;

    text-align: center;
}
.main-text h1{
    font-size: 55px;
    margin-bottom: 20px;

    cursor: default;
}
.main-text h2{
    font-size: 50px;
    margin-bottom: 40px;

    cursor: default;
}
.main-text h3{
    font-size: 25px;

    cursor: default;
}
.main-text button{
    margin-top: 90px;
    width: 180px;
    height: 60px;
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 15px;

    transition: 0.3s;
    position: relative;
    z-index: 5;
}
.main-text button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.mouse{
    text-align: center;
    padding-top: 250px;
    font-size: 35px;
    animation: upDown 1s ease-in-out infinite;
}
@keyframes upDown{
    0%{
        transform: translateY(-0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(-0px);
    }
}

.about{
    width: 1200px;
    height: 700px;
    margin: 0 auto;

    mask-type: 100px;
}
.about h3{
    color: #ff6a6a;
    font-size: 30px;
}
.about h2{
    font-size: 50px;
}
.about-contents{
    width: 1200px;
    height: 500px;

    display: flex;
}
.about-contents .left{
    width: 400px;
    height: 500px;
}
.about-contents .left img{
    width: 400px;
    height: 500px;
}
.about-contents .right{
    width: 800px;
    height: 500px;

    padding-left: 30px;
}
.about-contents .right h4{
    font-size: 25px;
}
.about .name{
    color: #ff6a6a;
}
.about .right li{
    margin-top: 15px;
}
.about .right i{
    font-size: 40px;
    margin-left: 10px;
}
.about .right .fa-youtube:hover{
    color: red;
}
.about .right .fa-discord:hover{
    color: #5865f2;
}
.about .right .fa-instagram:hover{
    color: rgba(148, 67, 148, 0.8);
}
.skills{
    height: 700px;
    background-color: #eee;

    margin-top: 100px;
    padding-top: 50px;
}
.skills-inner{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}
.skills h3{
    color: #ff6a6a;
    font-size: 30px;
}
.skills h2{
    font-size: 50px;
}
.skills ul{
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skills ul li{
    width: 330px;
    height: 300px;
    text-align: center;

    padding: 15px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 20px;
}
.skills ul li:hover{
    background-color: #a8a8a8;
    color: white;
}
.skills ul li:hover i{
    color: white;
}
.skills i{
    font-size: 70px;
    color: #ff6a6a;
}
.skills p{
    margin-top: 30px;
}
.bg2{
    height: 650px;
    background: url(./bg2.jpg) no-repeat;
    background-size: cover;

    background-attachment: fixed;
}
.project{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 200px;
    position: relative;
}
.project h3{
    color: #ff6a6a;
    font-size: 30px;
}
.project h2{
    font-size: 50px;
}
.item{
    width: 600px;
    height: 200px;
    border: 1px solid #ccc;

    margin: 0 auto;

    display: flex;

    margin-bottom: 30px;
    background-color: white;
    color: black;
}
.item:hover{
    background-color: rgb(0, 214, 214);
    color: white;
}
.item:hover .detail{
    background: white;
    color: rgb(80, 80, 80);
}
.modal1, .modal2, .modal3{
    border: 1px solid black;
    width: 800px;
    height: 500px;

    position: absolute;
    left: 15%;
    top: 25%;
    z-index: 1;
    font-size: 20px;
    padding: 25px;
    background: white;
    display: none;
}
.modal1 button, .modal2 button, .modal3 button{
    position: absolute;
    right: 30px;
    bottom: 70px;
    width: 100px;
    height: 30px;
}
.item-img{
    width: 200px;
    height: 200px;
}
.item-img img{
    width: 200px;
    height: 200px;
}
.item-text{
    width: 400px;
    height: 200px;

    padding: 20px;
    position: relative;
}
.detail{
    width: 80px;
    height: 35px;
    padding: 5px;
    position: absolute;
    right: 30px;
    bottom: 20px;

    background-color: #00d6d6;
    color: white;
    border: 1px solid #ccc;
}
.contact{
    height: 700px;
    background-color: #eee;

    margin-top: 100px;
    padding-top: 50px;
}
.contact-inner{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}
.contact-inner h3{
    color: #ff6a6a;
    font-size: 30px;
}
.contact-inner h3{
    font-size: 50px;
}
.box{
    width: 1200px;
    height: 500px;

    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.box .left{
    width: 250px;
    height: 450px;
}
.box .right{
    width: 800px;
    height: 450px;
}
.info{
    width: 250px;
    height: 100px;
    background-color: #cdffff88;

    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #00d6d6;
}
.info h5{
    font-size: 20px;
}
.memo{
    width: 800px;
    height: 40px;

    margin-left: 50px;
    margin-bottom: 20px;
}
.memo h2{
    font-size: 15px;
    font-weight: normal;
}
.memo input{
    width: 750px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.memo textarea{
    width: 750px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.right button{
    display: block;
    margin-left: 50px;
    margin-top: 150px;
    width: 750px;
    height: 30px;
    background: #00d6d6;
    border: none;
    border-radius: 15px;
}
